
body{
background-image: linear-gradient(to left, #112646, #0c546d, #3d8486, #81b299, #d1deb3);

}

h2 {
  text-align: center;

  color: white;
}
h3 {
   text-align: center;

  color: white;
}



p {
  text-align: center;
  color:white;
}


.cards{
overflow: hidden;
  transition: all .2s linear;

  background: crimson;
  box-shadow: 1px 1px 1px 1px white;
  float: left;
  width: 22%;
  padding: 10px;

  height: 300px;
}

.container {

   content: "";
  display: table;
  clear: both;

}

.cards:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(30px, 22px, 0);
}
